<h1><%= @weapontype.name %></h1>

<p><%= @weapontype.description %></p>
<br/>

<%= link_to 'Weapon Styles', '/weaponstyles' %><br/>
<%= link_to 'All Weapon Types', '/weapontypes' %>
<br/>
<br/>
<%= link_to 'Home', '/' %>
